.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

/* ========
      codepen copy paste hamburgur menu
       ======== */

/* ==========
    generals
    ========= */

@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700);
body {
    margin: 0;
    color: #404040;
    font-family: 'Raleway', sans-serif
}

h1 {
    margin: 0;
}

a {
    color: #262626
}

a:visited {
    color: #757686
}

a:hover, a:focus, a:active {
    color: #262626
}

a:focus {
    outline: thin dotted
}

a:hover, a:active {
    outline: 0;
    list-style: none
}

.container {
    max-width: 1140px;
    padding: 0px 20px;
}

@media (max-width: 1170px) {
    .container {
        max-width: 960px;
    }
}

/* .container{
    max-width: 960px;
} */

/* ==========
    generals
    ========= */

.site-header {
    position: relative
}

.hero {
    display: block;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

/* =======
    NAVBAR
    ====== */

.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2em 0;
    z-index: 5;
}

.nav-bar .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    display: none;
}

.site-navigation {
    list-style-type: none;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.site-navigation li {
    margin-left: 3em;
}

.site-navigation a {
    text-decoration: none;
    /* font-weight: 600; */
    white-space: nowrap;
}

.current-menu-item a {
    color: rgba(50, 200, 250, 1);
}

@media (max-width: 1000px) {
    .container {
        max-width: 720px;
    }
    .hamburger-menu {
        display: block;
    }
    /* =====
     orginal site using transform property not width hack
     ======= */
    .site-navigation {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        max-width: 300px;
        margin: 0;
        width: 70vw;
        z-index: 999;
        padding: 1em;
        background: #fff;
        transform: translateX(-332px);
        flex-direction: column;
        transition: 300ms;
    }
    .site-navigation li:not(:last-child) {
        padding: 1em;
    }
    .open {
        transform: none;
    }
}

/* =======
    NAVBAR
    ====== */

.hero-content-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.hero-content-wrap .container {
    margin: 0 auto;
    height: 100%;
}

.left-hero {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.entry-header h1 {
    font-size: 3.75em;
    font-weight: 500;
}

.entry-content p {
    line-height: 2em;
    margin-bottom: 3em;
    /* font-weight: 300; */
}

@media (max-width: 1000px) {
    .left-hero {
        width: 100%;
    }
}

/* ======
    cta btn  and gradient-bg
    ====== */

.call-btn {
    min-width: 210px;
    border-radius: 20px;
}

.call-btn a {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff !important;
    padding: .5em 1em;
}

.gradient-bg {
    border-color: transparent;
    background: linear-gradient(270deg, rgba(50, 200, 250, 1) 0%, rgba(88, 125, 228, 1) 100%);
    color: #fff
}

/* ======
    cta btn  and gradient-bg
    ====== */

.entry-footer a {
    display: inline;
    text-decoration: none;
    padding: .75em 3em;
    /* font-weight: 400; */
}

section {
    background: black;
    height: 100vh;
}